<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/brand/Abandon-Panier-E-Commerce.jpg); background-size: cover; background-position: center top;">
<!--  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center " style="min-height: 400px; background-image: radial-gradient(circle at top left,#ffffff 22%,rgba(255,255,255,0) 89%),url(assets/img/brand/Abandon-Panier-E-Commerce.jpg); background-size: cover; background-position: center top;"  >-->

  <!-- Mask -->
  <span class="mask bg-gradient-info opacity-2"></span>
  <!-- Header container -->
  <div class=" align-items-center">
    <div class="row">
      <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_dark">
        <div class="et_pb_text_inner">
          <h6>Panier</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--150">
<!--  <div class="container container-fluid ">-->
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <div class="card shadow">-->
<!--          <div class="row">-->
<!--            <div class="col"><h2 class="text-info">etat panier:</h2></div>-->
<!--            <div class="w-100"></div>-->
<!--            <div class="col" *ngFor="let panier of panier">{{panier.etatPanier}}</div>-->
<!--&lt;!&ndash;            <div *ngFor="let panier of panier ">{{panier.title}}</div>&ndash;&gt;-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
          <div>
            <table class="table table-striped" >
              <thead class="thead-light">
              <tr>
                <th scope="col">Produit</th>
                <th scope="col">prix</th>
                <th scope="col">action</th>
              </tr>
              </thead>
              <tbody *ngFor="let paniers of panier ">
              <!--            <th scope="col">Métiers visés </th>-->


              <tr *ngIf="paniers.event !== null">
                <td>{{paniers.event.title}}</td>
                <td>{{paniers.event.rate}},00TND</td>
                <td><button (click)="deletePanier(paniers)" class="btn btn-danger" >Delete</button></td>


              </tr>
              <tr *ngIf="paniers.training !== null">
                <td>{{paniers.training.title}}</td>
                <td>{{paniers.training.rate}},00TND</td>
                <td><button (click)="deletePanier(paniers)" class="btn btn-danger" >Delete</button></td>


              </tr>

              </tbody>
            </table>
          </div>
          prix totale: {{nbr}}
        </div>
      </div>
    </div>
  </div>
