h6 {
  font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #ebebeb !important;
  letter-spacing: 5px;
  line-height: 1.8em;
  margin-left: 28rem;
  margin-top: 7rem;
}
.container-fluid{

}
