<footer class="footer" >
  <div class="row align-items-center justify-content-xl-between">

  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">CFTF</h5>
        <h6 class="text-uppercase">CENTRE FRONCO TUNISIEN DE FORMATION </h6>
        <i class="bi bi-telephone-fill"></i>&nbsp;<a>(+216) 27 569 331</a>
        <br>

        <i class="bi bi-envelope"> <a class="h6" routerLink="/contactnous" >&nbsp;Contact nous</a></i>

        <br><br>
        <h5 class="text-uppercase">social media</h5>
        <a href="https://www.facebook.com/cftf/" target="blank"><img src="../assets/img/brand/fb_icon.png" height="30px"></a>&nbsp;
        <a href="https://Linkedin.com/cftf" target="blank"><img src="../assets/img/brand/Linkedin-logo-button.png" height="30px"></a>&nbsp;
        <a href="https://www.instagram.com/cftf" target="blank"><img src="../assets/img/brand/Instagram.png" height="30px"></a>
      </div>


      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Siège social</h5>
        <i class="bi bi-building"></i>

        <h5 class="text-uppercase">Centre de formation</h5>
        <i class="bi bi-geo-alt-fill">&nbsp;Rue Ibn El Jazzar, immeuble Talel ,Lafayette 1002 Tunis</i>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>



      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  </div>
<br>
  <div class="col-xl-6">
    <div class="copyright text-center text-xl-left text-muted">
      &copy; {{ test | date: "yyyy" }} <a href="" class="font-weight-bold ml-1" target="_blank">CENTRE FRONCO TUNISIEN DE FORMATION</a>
    </div>
  </div>


</footer>
<!--<footer class="footer">-->
<!--  <div class="row align-items-center justify-content-xl-between">-->
<!--    <div class="col-xl-6">-->
<!--      <div class="copyright text-center text-xl-left text-muted">-->
<!--        &copy; {{ test | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-xl-6">-->
<!--      <ul class="nav nav-footer justify-content-center justify-content-xl-end">-->
<!--        <li class="nav-item">-->
<!--          <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Creative Tim</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="https://www.creative-tim.com/presentation?ref=ada-footer-admin-layout" class="nav-link" target="_blank">About Us</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="http://blog.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Blog</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
