a {
  font-size: 20px;
  font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.image-ronde{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}
