<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <br>
            <br>
            <div>
                <strong> Activons votre potentiel professionnel</strong>
            </div>
            <br>
            <div>
                <strong>Contactez-nous</strong>
            </div>
            <br>
            <br>
            <div>
                <span>Pour toutes questions sur nos formations, ou des besoins spécifiques à votre entreprise,
                    <br>
                    laissez nous votre message, nous traiterons votre demande dans les meilleurs délais.</span>
            </div>

            <div class="card">
                <div class="card-body">


                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Nom (*)</label>
                                <input type="text" class="form-control" id="inputNom" placeholder="Nom">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Prenon (*)</label>
                                <input type="text" class="form-control" id="inputPrenon" placeholder="Prenon">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Email (*)</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Telephone (*)</label>
                                <input type="number" class="form-control" id="inpuTelephone" placeholder="Telephone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Vous êtes intéressé(e) par la formation</label>
                            <select class="custom-select">
                                <option selected>select</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message (*)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>