<!--<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">-->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center " style="min-height: 300px; background-image: radial-gradient(circle at top left,#ffffff 22%,rgba(255,255,255,0) 89%),url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"  >

  <!--<div *ngIf="currentUser.photo != null">-->
<!--  &lt;!&ndash; Mask &ndash;&gt;-->
<!--  <img class=" card-img-top " [src]="'http://localhost:8080/api/auth/files/' + currentUser.photo | safe:'resourceUrl'"  >-->

<!--</div>-->
  <!-- Mask -->
  <span class="mask bg-gradient-info opacity-2"></span>
  <!-- Header container -->
<!--  <div class="container-fluid d-flex align-items-center">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-7 col-md-10">-->
<!--        <h1 class="display-2 text-white">Salut {{ currentUser.username }}</h1>-->
<!--        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>-->
<!--&lt;!&ndash;        <a href="#!" class="btn btn-info">Modifier profil</a>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
<!--                <img [src]="'http://localhost:8080/api/auth/files/' + currentUser.photo | safe:'resourceUrl'"   class="rounded-circle image-ronde">-->

                <img [src]="'http://localhost:8080/api/auth/files/' + currentUser.photo | safe:'resourceUrl'"
                     alt="" title="1" srcset=""
                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 2000px, 100vw" class="wp-image-224307 ">

              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
<!--          <div class="d-flex justify-content-between">-->
<!--            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>-->
<!--            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>-->
<!--          </div>-->
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
<!--                <div>-->
<!--                  <span class="heading">22</span>-->
<!--                  <span class="description">Friends</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="heading">10</span>-->
<!--                  <span class="description">Photos</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="heading">89</span>-->
<!--                  <span class="description">Comments</span>-->
<!--                </div>-->
              </div>
            </div>
          </div>

          <div class="text-center" *ngIf="currentUser; else loggedOut">
            <h3>
              {{ currentUser.username }}
<!--              <span class="font-weight-light">, 27</span>-->
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ currentUser.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Numero de telephone :  {{ currentUser.tel }}
            </div>
            <div *ngFor="let role of currentUser.roles">
              <i class="ni education_hat mr-2"></i>Profil: {{getRole(currentUser.roles[0].name)}}
            </div>
<!--            <a class="dropdown-item" href="javascript:void(0)" routerLink="/edit-users/{{currentUser.id}}">modifier profil</a>-->

            <!--            <hr class="my-4" />-->
<!--            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>-->
<!--            <a href="javascript:void(0)">Show more</a>-->
          </div>
          <ng-template #loggedOut>
            Please login.
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon compte</h3>
            </div>
<!--            <div class="col-4 text-right">-->
<!--              <a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
<!--            </div>-->
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Modifier tes informations</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="username">username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      [(ngModel)]="currentUser.username"
                      name="name"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      [(ngModel)]="currentUser.email"
                      name="email"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
<!--                <div class="col-lg-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-control-label" for="password">password</label>-->
<!--                    <input-->
<!--                      type="password"-->
<!--                      class="form-control"-->
<!--                      id="password"-->
<!--                      [(ngModel)]="currentUser.password"-->
<!--                      name="password"-->
<!--                    />-->
<!--                  </div>-->
<!--                </div>-->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="tel">tel</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="tel"
                      [(ngModel)]="currentUser.tel"
                      name="tel"
                    />
                  </div>
                </div>
              </div>
<!--              <div class="row">-->
<!--                <div class="col-lg-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-control-label" for="role">Role</label>-->
<!--                    <select [compareWith]="compareFn"-->
<!--                            type="text"-->
<!--                            class="form-control"-->
<!--                            id="role"-->
<!--                            required-->
<!--                            [(ngModel)]="currentUser.roles"-->
<!--                            name="role">-->
<!--                      <option *ngFor="let role of roles" [value]="role">{{role.name}}</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </form>
          <button type="button" class="btn btn-danger" (click)="updateBook()">Update</button>

        </div>
      </div>
    </div>
  </div>
</div>
