.fa{
  min-width: 100% !important;
  top: 1px !important;
  //position: absolute;
  //right: 95px!important;
  /*width: 50px ;*/

}
//.aaa{
//  position:relative;z-index:10;
//}
h1 {
  //font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #6B6B6B!important;
  line-height: 1.2em;
  cursor: pointer;

  //padding-left: 11px;
  //padding-right: 11px;
  //position: relative;
  //align-items: center;
}
ul{
  line-height : 200%;
  padding-left:5%;

}
.btn-group {
}
h2 {
  cursor: pointer;}
//a{
//  text-align: center;
//
//}
a {
  color: #6B6B6B!important;;
}
