<div class="header bg-gradient-info pb-8 pt-5 pt-md-8" *ngIf="showAdminBoard">
  <div class="container-fluid">
    <div class="header-body">
      <a  class="btn btn-info" (click)="gotoajout()">ajouter une formation</a>
    </div>
  </div>
</div>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center " style="min-height: 400px; background-image: radial-gradient(circle at top left,#ffffff 22%,rgba(255,255,255,0) 89%),url(assets/img/brand/Banniere-site-web-1024x683.png); background-size: cover; background-position: center top;"  *ngIf="!showAdminBoard">
  <!-- Mask -->
  <span class="mask bg-gradient-info opacity-2"></span>

  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-9 col-md-10">
        <br><br>
        <h3 class=" ">Activons votre potentiel professionnel </h3>
        <br>
        <p class=" mt-0 mb-5">Notre catalogue présente un large panel de nos formations habilitantes et réglementaires.
          <br>
          Nos formations  apporteront l’efficacité nécessaire pour vos actions sur le terrain et vous permettront d’être en conformité avec toutes les règlementations en vigueur.</p>
      </div>
    </div>
  </div>
</div>
<!-- new page -->

<div>
  <div class="container">

    <header *ngIf="isLoggedIn">
      <nav>
        <ul>

          <li>
            <a href="#/formation">Trouver ma formation</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li>
            <a href="">Parole d'expert</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li>
            <a href="/#/contact-nous">Contact</a>
          </li>

        </ul>
      </nav>
    </header>
    <header *ngIf="!isLoggedIn">
      <nav>
        <ul>

          <li>
            <a href="#/formation">Trouver ma formation</a>
          </li>

          <li>
            <a href="">Parole d'expert</a>
          </li>

          <li>
            <a href="/#/login" >Espace aprenant</a>
          </li>

          <li>
            <a href="/#/contact-nous">Contact</a>
          </li>

        </ul>
      </nav>
    </header>
<br>
    <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_dark">
      <div class="et_pb_text_inner">
        <h6>Voici nos Formations en immobilier</h6>
      </div>
    </div>
    <br>
    <div class="et_pb_text_inner"><p>Sélectionnez vos critères de recherche afin de trouver la formation qui correspond à vos attentes.</p></div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Mot clef..." [(ngModel)]="data">
    </div>
    <li>
      <button type="button"  class="btn btn-secondary btn-lg btn-block  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >
        DOMAINES DE FORMATION
      </button>

      <!--      <div  type="button" class=" dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >-->
      <!--      </div>-->
      <div class="dropdown-menu btn-lg btn-block"  >
        <a1 class="dropdown-item " routerLink="/banque-formation" style="color: #0a0c0d">Banque</a1>
        <a1 class="dropdown-item" routerLink="/assurance-formation" style="color: #0a0c0d">Assurance</a1>
        <a1 class="dropdown-item" routerLink="/immobilier-formation" style="color: #0a0c0d">Immobilier</a1>
      </div>
    </li>
    <br>
    <li>
      <button type="button"  class="btn btn-secondary btn-lg btn-block  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >
        MODALITÉS DE FORMATION
      </button>

      <!--      <div  type="button" class=" dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >-->
      <!--      </div>-->
      <div class="dropdown-menu btn-lg btn-block"  >
        <a1 class="dropdown-item " routerLink="/formation-enligne" style="color: #0a0c0d">En ligne </a1>
        <a1 class="dropdown-item" routerLink="/formation-presentiel" style="color: #0a0c0d">En Presentiel</a1>
      </div>
    </li>
    <br><br><br>
    <div class="card-columns" *ngIf=" !showAdminBoard" >
      <div class="card btn p2" *ngFor = "let formation of  formations?.content  | filter:data | paginate : {itemsPerPage : 9 , currentPage : p}"
           routerLink="/detail-formation/{{formation.id}}">
        <ng-container *ngIf="formation.photo != null">
          <img class="card-img-top img-responsive" [src]="'http://localhost:8080/api/auth/files/' + formation.photo | safe:'resourceUrl'"  >
        </ng-container>
        <!--                <img class="card-img-top img-responsive" src="assets/img/quisommenous/common/img1.jpg" alt="Card image cap">-->
        <h3 align="center">{{formation.title}}</h3>
        <!--                <p>{{formation.description}}</p>-->
        <button class="btn1" routerLink="/detail-formation/{{formation.id}}">
          <span class="price">{{formation.rate}}TND</span>
          <span class="buy">Detail</span>
        </button>
      </div>
    </div>
    <pagination-controls (pageChange) ="p= $event" *ngIf=" !showAdminBoard"></pagination-controls>
    <div class="table-responsive" *ngIf="showAdminBoard">
      <table class="table table-striped">
        <thead>
        <tr>
          <!--    <th>id</th>-->
          <th>title</th>
          <th>action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let formation of formations?.content |  filter:data | paginate : {itemsPerPage : 9 , currentPage : p}">
          <ng-container ng-model="cpte">
            <td> {{formation.title}}</td>
            <td>
              <button routerLink="/edit-formation/{{formation.id}}" class="btn btn-info">Update</button>
              <button (click)="deleteFormation(formation)" class="btn btn-danger" >Delete</button>
              <button routerLink="/detail-formation/{{formation.id}}" class="btn btn-info" >View</button>
            </td>




          </ng-container>

        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p= $event"></pagination-controls>
    </div>
  </div>
</div>
