<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <a  class="btn btn-info" (click)="gotoajout()">ajouter métier</a>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Table des métiers</h3>
          </div>
          <div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
  <!--    <th>id</th>-->
      <th>name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let jobe of jobes">
  <!--    <td> {{domaine.id}}</td>-->
      <td> {{jobe.name}}</td>
      <td>
        <button routerLink="/edit-job/{{jobe.id}}" class="btn btn-info">Modifier</button>
        <button (click)="deleteJob(jobe)" class="btn btn-danger" >Supprimer</button>
  <!--      <button (click)="jobDetails(jobe.id)" class="btn btn-info" >View</button>-->
      </td>
    </tr>
    </tbody>
  </table>
          </div>
        </div>
      </div>
    </div>
  </div>
